
src/.DS_Store
.DS_Store
*.dylib
Release/libnrcore.dylib.dSYM/Contents/Info.plist
libNRCore.mpkg/*
Debug/libnrcore.a
autom4te.cache/*
build/*
config.log
config.status
/Makefile
/libnrcore/config.h

/Debug-iphoneos/liblibNRCore_IOS.a
/libNRCore.xcodeproj/xcuserdata/nyhlrawlings.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

/libNRCore.xcodeproj/project.xcworkspace/xcshareddata/

/libNRCore.xcodeproj/project.xcworkspace/xcuserdata/nyhlrawlings.xcuserdatad/UserInterfaceState.xcuserstate

/libNRCore.xcodeproj/xcuserdata/nyhlrawlings.xcuserdatad/xcschemes/libNRCore.xcscheme

/libNRCore.xcodeproj/xcuserdata/nyhlrawlings.xcuserdatad/xcschemes/

/UnitTest/UnitTest.xcodeproj/xcuserdata/nyhlrawlings.xcuserdatad/xcschemes/xcschememanagement.plist

/UnitTest/UnitTest.xcodeproj/xcuserdata/nyhlrawlings.xcuserdatad/xcschemes/UnitTest.xcscheme

*.xcuserdatad
